.controls .form-group > div.col-md-10 {
    padding-right: 0;
}

canvas{
    /*border:1px solid black;*/
}

.input-for-paste-link{
    margin-top: 10px;
}

.radio-inline label {
    margin-bottom: 0;
}

button.rndmz {
    border-radius: 30px;
    display: inline-block;
    width: 22px;
    font-size: 10px;
    margin-top: -12px;
}

.pattern-part {
    margin-bottom: 10px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    background-color: #fff;
}

.controls .form-group input {
    margin-top: 3px;
}

.controls .form-group {
    margin-bottom: 0;
}

/*slider css*/

.ui-slider {
    margin-top: 10px;
    height: 10px;
    position: relative;
    text-align: left;
    background-color: #fafafa;
    border: #EBEBEB 1px solid;
    border-radius: 5px;
}

.ui-slider-range {
    position: absolute;
    z-index: 1;
    display: block;
    border: 0;
    background-color: #25c5ff;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 10px;
    height: 10px;
    cursor: pointer;
    background-color: white;
    top: -1px;
    margin-left: -5px;
    border-radius: 5px;
    border: 2px solid #858585;
}

.ui-slider-handle:focus {
    outline: none;
    border: 2px solid black;
}


