body {
    overflow-x: hidden;
}

.slider {
    margin-top: 6px;
}

.form-group {
    margin-bottom: 0;
}

.pattern-part label {
    margin-bottom: 0;
}

.tooltip-arrow {
    display: none;
}

.slider .tooltip {
    position:relative;
    width:40px;
    top: -3px !important;
    left: 55px !important;
    float:right;
    display: none;
}

.slider.slider-horizontal{
    width:100% !important;
}

.slider .slider-handle{
    width:10px;
    height:10px;
    margin-left: -5px !important;
    margin-top: 0 !important;
}

.pattern-part{
    margin-bottom: 10px;
}

