<!DOCTYPE html>
<html>
<head>
    <title>Pattern generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="css/slider.css" rel="stylesheet" media="screen"/>
    <link href="css/bootstrap.css" rel="stylesheet" media="screen"/>
    <link href="css/bootstrap-glyphicons.css" rel="stylesheet" media="screen"/>
    <link href="css/bootstrap-colorpicker.css" rel="stylesheet" media="screen"/>
    <link href="css/style.css" rel="stylesheet" media="screen"/>
</head>
<body>

<div class="row">
    <div class="col-lg-10 col-sm-10 col-sm-offset-1 col-lg-offset-1">
        <div class="well-sm">
            <h1><strong>Awesome generator</strong></h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-sm-5 col-lg-offset-1 col-sm-offset-1">
        <div class="row">
            <h3>Result:</h3>
        </div>
        <div class="row">
            <canvas id="canvas"></canvas>
        </div>
    </div>
    <div class="col-lg-6 col-sm-5 control-panel">
        <div class="row">
            <h3>Control panel:</h3>
        </div>
        <div class="row">
            <input id="file-uploader" type="file" style="display:none;">
            <button type="button" id="upload" class="btn btn-default">Upload part</button>
        </div>
        <div class="row">
            <button type="button" id="render" class="btn btn-primary">Render new</button>
        </div>
    </div>
</div>


<script src="js/fabric.js"></script>
<script src="js/jquery.js"></script>
<script src="js/underscore.js"></script>
<script src="js/backbone.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/bootstrap-slider.js"></script>
<script src="js/bootstrap-colorpicker.js"></script>
<script type="text/plain" id="part-settings-tmpl">
    <div class="col-lg-12 col-sm-12 col-12">
        <button type="button" class="close">&times;</button>
    </div>
    <div class="col-lg-4 col-sm-4 col-4">
        <img class="part-img img-responsive"
             src="<%= img.src %>">
    </div>
    <div class="col-lg-8 col-sm-8 col-8 form-horizontal pattern-part-controls">
        <div class="form-group angle">
            <label class="col-lg-3 control-label" for="angle-of-obj">Angle</label>

            <div class="col-lg-9">
                <input id="angle-of-obj" type="number" class="slider form-control" value=""
                       data-slider-min="0"
                       data-slider-max="360" data-slider-step="1" data-slider-value="<%= angle %>">
            </div>
        </div>
        <div class="form-group opacity">
            <label class="col-lg-3 control-label" for="opacity-of-obj">Opacity</label>

            <div class="col-lg-9">
                <input id="opacity-of-obj" type="number" class="slider form-control" value=""
                       data-slider-min="0"
                       data-slider-max="1" data-slider-step="0.01" data-slider-value="<%= opacity %>">
            </div>
        </div>
        <div class="form-group width">
            <label class="col-lg-3 control-label" for="width-of-obj">Width</label>

            <div class="col-lg-9">
                <input id="width-of-obj" type="number" class="slider form-control" value=""
                       data-slider-min="0"
                       data-slider-max="5" data-slider-step="0.01" data-slider-value="<%= width %>">
            </div>
        </div>
        <div class="form-group height">
            <label class="col-lg-3 control-label" for="height-of-obj">Height</label>

            <div class="col-lg-9">
                <input id="height-of-obj" type="number" class="slider form-control" value=""
                       data-slider-min="0"
                       data-slider-max="5" data-slider-step="0.01" data-slider-value="<%= height %>">
            </div>
        </div>
        <div class="form-group grid">
            <label class="col-lg-3 control-label">Grid</label>

            <div class="col-lg-9">
                <div class="radio-inline">
                    <label>
                        <input type="radio" class="grid-of-obj" name="grid-of-obj-<%=id%>" value="9" <% if (grid==9) {
                        %> checked <% }
                        %> >
                        9
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" class="grid-of-obj" name="grid-of-obj-<%=id%>" value="25" <% if (grid==25) {
                        %> checked <% }
                        %> >
                        25
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" class="grid-of-obj" name="grid-of-obj-<%=id%>" value="49" <% if (grid==49) {
                        %> checked <% }
                        %> >
                        49
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group count">
            <label class="col-lg-3 control-label" for="count-of-obj">Parts</label>

            <div class="col-lg-9">
                <input id="count-of-obj" type="number" class="slider form-control" value=""
                       data-slider-min="1"
                       data-slider-max="40" data-slider-step="1" data-slider-value="<%= count %>">
            </div>
        </div>
        <div class="form-group x">
            <label class="col-lg-3 control-label" for="x-of-obj">X</label>

            <div class="col-lg-9">
                <input id="x-of-obj" type="number" class="slider form-control" value=""
                       data-slider-min="-50"
                       data-slider-max="50" data-slider-step="1" data-slider-value="<%= x %>">
            </div>
        </div>
        <div class="form-group y">
            <label class="col-lg-3 control-label" for="y-of-obj">Y</label>

            <div class="col-lg-9">
                <input id="y-of-obj" type="number" class="slider form-control" value=""
                       data-slider-min="-50"
                       data-slider-max="50" data-slider-step="1" data-slider-value="<%= y %>">
            </div>
        </div>
        <div class="form-group placement">
            <label class="col-lg-3 control-label">Placement</label>

            <div class="col-lg-9">
                <div class="radio-inline">
                    <label>
                        <input type="radio" class="placement-of-obj" name="placement-of-obj-<%=id%>" value="random" <%
                        if
                        (placement=="random") { %> checked <% } %> >
                        Random
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" class="placement-of-obj" name="placement-of-obj-<%=id%>" value="circle" <%
                        if
                        (placement=="circle") { %> checked <% } %> >
                        Circle
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group angle-delta">
            <label class="col-lg-3 control-label" for="angle-delta-of-obj">Angle+</label>

            <div class="col-lg-9">
                <input id="angle-delta-of-obj" type="number" class="slider form-control" value=""
                       data-slider-min="0"
                       data-slider-max="360" data-slider-step="1" data-slider-value="<%= angle_delta %>">
            </div>
        </div>
        <div class="form-group radius">
            <label class="col-lg-3 control-label" for="radius-of-obj">Radius</label>

            <div class="col-lg-9">
                <input id="radius-of-obj" type="number" class="slider form-control" value=""
                       data-slider-min="0"
                       data-slider-max="400" data-slider-step="1" data-slider-value="<%= radius %>">
            </div>
        </div>
        <div class="form-group color">
            <label class="col-lg-3 control-label" for="color-of-obj">Color</label>

            <div class="col-lg-9">
                <div class="input-append color" data-color-format="rgba">
                    <input id="color-of-obj" class="colorpicker input-sm" type="text"
                           value="<%= color %>">
                </div>
            </div>
        </div>
        <div class="form-group color">
            <button type="button" class="random btn btn-default btn-xs pull-right"><span
                    class="glyphicon glyphicon-refresh"></span> Random changes
            </button>
        </div>
    </div>
    <!--overlay: null-->
</script>
<script src="js/app.js"></script>

</body>
</html>