a.innerContent(href="#", data-number=number, data-sprite=sprite_name)
    img(src='img/t.gif', style="background-image:url('" + bg_url + "'); background-position: " + offset_x + " " + offset_y + "; background-size: " + bg_size + ";")

