.control(class=class_name)
    label(for='part-opacity')= $i.index.sample[class_name]
    div: .slider(data-option=class_name)
    input.input-sm(id='part-' + class_name, tabindex=tabindex, data-option=class_name)