@import url(http://fonts.googleapis.com/css?family=Open+Sans:400&subset=latin,cyrillic);
.ui-slider {
  margin-top: 11px;
  height: 5px;
  position: relative;
  text-align: left;
  background-color: #7f8c8d;
  border: #EBEBEB 1px solid;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  display: block;
  border: 0;
  background-color: #7f8c8d;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 6px;
  height: 12px;
  cursor: pointer;
  background-color: #bdc3c7;
  top: -4.5px;
  margin-left: -3px;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
.ui-slider .ui-slider-handle:focus {
  outline: none;
  background-color: #91989c;
}
input[type="checkbox"],
input[type="radio"] {
  display: none;
}
input[type="checkbox"] + label span,
input[type="radio"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -2px 0 0 0;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
  padding-left: 0;
}
input[type="checkbox"][type="checkbox"] + label span,
input[type="radio"][type="checkbox"] + label span {
  background: url("/img/check_radio_sheet.png") left top no-repeat;
}
input[type="checkbox"][type="checkbox"]:checked + label span,
input[type="radio"][type="checkbox"]:checked + label span {
  background: url("/img/check_radio_sheet.png") -19px top no-repeat;
}
input[type="checkbox"][type="radio"] + label span:first-child,
input[type="radio"][type="radio"] + label span:first-child {
  background: url("/img/check_radio_sheet.png") -38px top no-repeat;
}
input[type="checkbox"][type="radio"]:checked + label span,
input[type="radio"][type="radio"]:checked + label span {
  background: url("/img/check_radio_sheet.png") -57px top no-repeat;
}
input:not([type]),
input[type='text'] {
  border: none;
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
  background-color: #ecf0f1;
  outline: none;
  height: 27px;
  padding: 3px;
}
.green-button {
  background-color: #2ecc71;
  background-image: none;
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
  border: none;
  color: white;
}
.picker {
  height: 140px;
}
.controls-section {
  background-color: #ffffff;
  position: fixed;
  left: -30px;
  right: -30px;
  bottom: 0;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  height: auto;
}
.controls-section.flow-down {
  bottom: -240px;
  -webkit-opacity: 0.3;
  -moz-opacity: 0.3;
  opacity: 0.3;
}
.controls-section .tab-wrapper {
  margin: 0 30px;
}
.controls-section .tab-wrapper .sample-tabs {
  border-bottom: none;
  background-color: #95a5a6;
}
.controls-section .tab-wrapper .sample-tabs > li {
  background-color: #bdc3c7;
  margin-right: 1px;
  margin-bottom: 0;
}
.controls-section .tab-wrapper .sample-tabs > li:hover {
  background-color: #dee4e8;
}
.controls-section .tab-wrapper .sample-tabs > li.active > a,
.controls-section .tab-wrapper .sample-tabs > li.active > a:hover,
.controls-section .tab-wrapper .sample-tabs > li.active > a:focus {
  border: none;
  background-color: #ffffff;
}
.controls-section .tab-wrapper .sample-tabs > li > a {
  width: 135px;
  height: 50px;
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
  margin-right: 0;
  padding: 0;
  border-radius: 0;
  border: none;
  outline: none;
}
.controls-section .tab-wrapper .sample-tabs > li > a:hover {
  background-color: #dee4e8;
}
.controls-section .tab-wrapper .sample-tabs > li > a > div {
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  text-align: center;
  line-height: 50px;
}
.controls-section .tab-wrapper .sample-tabs > li > a > div > img {
  padding: 5px 11px;
  max-height: 100%;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  pointer-events: none;
}
.controls-section .tab-wrapper .sample-tabs > li > a > div button.close,
.controls-section .tab-wrapper .sample-tabs > li > a > div:hover button.close {
  position: absolute;
  top: -1px;
  right: 3px;
  text-shadow: none;
  visibility: hidden;
  outline: none;
}
.controls-section .tab-wrapper .sample-tabs > li > a > div button.close:hover,
.controls-section .tab-wrapper .sample-tabs > li > a > div:hover button.close:hover {
  color: red;
}
.controls-section .tab-wrapper .sample-tabs > li > a > div:hover button.close {
  visibility: visible;
}
.controls-section .tab-wrapper .sample-tabs > li.add-new-sample > a {
  width: 50px;
}
.controls-section .tab-wrapper .sample-tabs > li.add-new-sample > a:hover {
  cursor: pointer;
}
.controls-section .tab-wrapper .sample-tabs > li.add-new-sample > a > div {
  font-size: 60px;
  font-family: sans-serif;
  font-weight: 100;
  padding-top: 1px;
  color: #000000;
}
.controls-section .tab-wrapper .sample-tabs > li.add-new-sample > .dropdown-menu {
  left: -1px;
}
.controls-section .tab-wrapper .sample-tabs > li.add-new-sample > .dropdown-menu > li > a {
  outline: none;
  cursor: pointer;
}
.controls-section .tab-wrapper .settings-wrapper .tab-content {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
}
.controls-section .tab-wrapper .settings-wrapper .tab-content .tab-pane button.random {
  font-size: 10px;
}
.controls-section .tab-wrapper .settings-wrapper .canvas-options .download-image {
  margin-bottom: 5px;
}
.controls-section .tab-wrapper .settings-wrapper .canvas-options .download-image .download {
  height: 34px;
  outline: none;
}
.controls-section .tab-wrapper .settings-wrapper .control {
  width: 100%;
  height: 27px;
  margin-bottom: 5px;
  position: relative;
}
.controls-section .tab-wrapper .settings-wrapper .control > label {
  padding-top: 3px;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0;
}
.controls-section .tab-wrapper .settings-wrapper .control > div {
  position: absolute;
  left: 62px;
  right: 69px;
}
.controls-section .tab-wrapper .settings-wrapper .control > div.radio-case {
  padding-top: 4px;
}
.controls-section .tab-wrapper .settings-wrapper .control > div.radio-case label {
  margin-right: 7px;
}
.controls-section .tab-wrapper .settings-wrapper .control > input,
.controls-section .tab-wrapper .settings-wrapper .control > button {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 62px;
  height: 100%;
}
.controls-section .tab-wrapper .settings-wrapper .lock-origin-ratio {
  position: absolute;
  top: 88px;
  left: 30px;
  font-size: 10px;
  color: #dbdbdb;
}
.controls-section .tab-wrapper .settings-wrapper .lock-origin-ratio:hover {
  cursor: pointer;
  color: #7d7d7d;
}
.controls-section .tab-wrapper .settings-wrapper .lock-origin-ratio.locked {
  color: #3b3b3b;
}
.controls-section .tab-wrapper .settings-wrapper .infolinks {
  color: #bcbcbc;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  display: inline-block;
}
.preview-button {
  width: 100%;
  height: 25px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border: none;
  padding: 0;
  margin: 0;
  background-color: #34495E;
  z-index: 500;
  color: white;
  outline: none;
}
#paste_link_modal .form-group {
  position: relative;
  margin: 0;
  height: 30px;
}
#paste_link_modal #input-link.text-danger {
  border-color: #FFBEBE;
}
#paste_link_modal .form-group label {
  position: absolute;
  top: 5px;
}
#paste_link_modal .form-group div {
  position: absolute;
  top: 0;
  left: 114px;
  right: 46px;
}
#paste_link_modal .form-group div input {
  width: 100%;
}
#paste_link_modal .form-group button {
  position: absolute;
  right: 0px;
  top: 0px;
  padding-bottom: 4px;
  padding-top: 4px;
}
#collections_modal .modal-content {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  overflow: hidden;
}
#collections_modal .modal-content .modal-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 0;
  z-index: 1101;
  background-color: #fff;
  text-align: center;
}
#collections_modal .modal-content .modal-header button.close {
  padding: 5px;
}
#collections_modal .modal-content .modal-header h5 {
  padding: 11px 15px;
  margin: 0;
  line-height: 23px;
}
#collections_modal .modal-content .modal-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 10px;
  margin-top: 0;
  z-index: 1101;
}
#collections_modal .modal-content .modal-body {
  position: absolute;
  top: 46px;
  right: 0;
  left: 0;
  bottom: 54px;
  overflow-y: auto;
  background: linear-gradient(#ffffff 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), #ffffff 70%) 0 100%, /* Shadows */ radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
  background-attachment: local, local, scroll, scroll;
  -webkit-background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  -moz-background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-repeat: no-repeat;
  background-color: white;
  z-index: 1100;
}
#collections_modal #sample-collections-tabs {
  width: 200px;
  float: left;
}
/*the grid*/
.box {
  width: 50%;
  padding-bottom: 50%;
  position: relative;
  float: left;
}
.box .innerContent {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
  text-align: center;
  font-size: 0;
  border: solid 1px #D6D6D6;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
.box .innerContent img {
  max-width: 90%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}
.box .innerContent:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.box .innerContent:hover {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.box.generated .innerContent img {
  min-width: 90%;
}
@media all and (min-width: 200px) {
  .box {
    width: 100%;
    padding-bottom: 100%;
  }
}
@media all and (min-width: 400px) {
  .box {
    width: 33.333333333333336%;
    padding-bottom: 33.333333333333336%;
  }
}
@media all and (min-width: 600px) {
  .box {
    width: 25%;
    padding-bottom: 25%;
  }
}
@media all and (min-width: 800px) {
  .box {
    width: 20%;
    padding-bottom: 20%;
  }
}
@media all and (min-width: 1000px) {
  .box {
    width: 16.666666666666668%;
    padding-bottom: 16.666666666666668%;
  }
}
@media all and (min-width: 1200px) {
  .box {
    width: 14.285714285714286%;
    padding-bottom: 14.285714285714286%;
  }
}
@media all and (min-width: 1400px) {
  .box {
    width: 12.5%;
    padding-bottom: 12.5%;
  }
}
@media all and (min-width: 1600px) {
  .box {
    width: 11.11111111111111%;
    padding-bottom: 11.11111111111111%;
  }
}
@media all and (min-width: 1800px) {
  .box {
    width: 10%;
    padding-bottom: 10%;
  }
}
#canvas-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  display: block;
  width: 300px;
  height: 300px;
}
#canvas-wrapper .canvas-container {
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: -webkit-box-shadow;
  -moz-transition-property: -moz-box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
}
#canvas-wrapper .canvas-container.preview {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
body {
  background-color: #269abc;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6,
input,
label {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}
#bg_canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
