.control-panel, .canvas-panel {
    background-color: rgba(255, 255, 255, 0.5);
}

.controls .form-group > div.col-md-10 {
    padding-right: 0;
}

.radio-inline label {
    margin-bottom: 0;
}

button.rndmz {
    border-radius: 30px;
    display: inline-block;
    width: 22px;
    font-size: 10px;
    margin-top: -12px;
}

.pattern-part {
    margin-bottom: 10px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    background-color: #fff;
}

.controls .form-group input {
    margin-top: 3px;
}

.controls .form-group {
    margin-bottom: 0;
}

.preview-button {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 500;
}

/*slider css*/

.ui-slider {
    margin-top: 10px;
    height: 10px;
    position: relative;
    text-align: left;
    background-color: #fafafa;
    border: #EBEBEB 1px solid;
    border-radius: 5px;
}

.ui-slider-range {
    position: absolute;
    z-index: 1;
    display: block;
    border: 0;
    background-color: #25c5ff;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 10px;
    height: 10px;
    cursor: pointer;
    background-color: white;
    top: -1px;
    margin-left: -5px;
    border-radius: 5px;
    border: 2px solid #858585;
}

.ui-slider-handle:focus {
    outline: none;
    border: 2px solid black;
}

/*modal-pate-link css*/
#paste_link_modal .form-group {
    position: relative;
    margin: 0;
    height: 30px;
}

#paste_link_modal #input-link.text-danger {
    border-color: #FFBEBE;
}

#paste_link_modal .form-group label {
    position: absolute;
    top: 5px;
}

#paste_link_modal .form-group div {
    position: absolute;
    top: 0;
    left: 114px;
    right: 46px;
}

#paste_link_modal .form-group div input {
    width: 100%;
}

#paste_link_modal .form-group button {
    position: absolute;
    right: 0px;
    top: 0px;
    padding-bottom: 4px;
    padding-top: 4px;
}

/*modal-collection css*/
#collections_modal .modal-content {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    overflow: hidden;
}

#collections_modal #sample-tabs {
    width: 200px;
    float: left;
}

#collections_modal .modal-content .modal-header h5 {
    padding: 11px 15px;
    margin: 0;
    line-height: 23px;
}

#collections_modal .modal-content .modal-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px;
    margin-top: 0;
    z-index: 1101;
}

#collections_modal .modal-content .modal-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 0;
    z-index: 1101;
    background-color: #fff;
    text-align: center;
}

#collections_modal .modal-content .modal-header button.close {
    padding: 5px;
}

#collections_modal .modal-content .modal-body {
    position: absolute;
    top: 46px;
    right: 0;
    left: 0;
    bottom: 54px;
    overflow-y: auto;
    background: linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, /* Shadows */ radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
    background: linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, /* Shadows */ radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    background-attachment: local, local, scroll, scroll;
    z-index: 1100;
}

/*the grid*/
.box {
    width: 50%;
    padding-bottom: 50%;
    position: relative;
    float: left;
    overflow: hidden;
}

@media (min-width: 400px) {
    .box {
        width: 33.333333333333%;
        padding-bottom: 33.333333333333%;
    }
}

@media (min-width: 600px) {
    .box {
        width: 25%;
        padding-bottom: 25%;
    }
}

@media (min-width: 800px) {
    .box {
        width: 20%;
        padding-bottom: 20%;
    }
}

@media (min-width: 1000px) {
    .box {
        width: 16.66666666666%;
        padding-bottom: 16.66666666666%;
    }
}

@media (min-width: 1200px) {
    .box {
        width: 14.2857142857%;
        padding-bottom: 14.2857142857%;
    }
}

@media (min-width: 1400px) {
    .box {
        width: 12.5%;
        padding-bottom: 12.5%;
    }
}

.innerContent {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    overflow: hidden;
    text-align: center;
    font-size: 0;
    border-radius: 5px;
    border: solid 1px #D6D6D6;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
    /*background-color: #fff;*/
}

.innerContent:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.innerContent img {
    max-width: 90%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.innerContent:hover {
    border-color: rgba(31, 147, 255, 0.50);
    -moz-box-shadow: 0 0 10px rgba(31, 147, 255, 0.50);
    -webkit-box-shadow: 0 0 10px rgba(31, 147, 255, 0.50);
    box-shadow: 0 0 10px rgba(31, 147, 255, 0.50);
}












