@import url(http://fonts.googleapis.com/css?family=Open+Sans:400&subset=latin,cyrillic);
//LESS
@import "../bower/lesshat/build/lesshat";

//LESSHAT properties
@w3c: true;
@webkit: true;
@moz: true;
@opera: false;
@ms: false;
@oldWebkit: false;

body {
  background-color: #34495E;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: #1ABC9C;
  .user-select(none);
}

.cntr {
  margin: 0 auto;
  text-align: center;
  H1 {
    font-size: 200px;
    //.longShadow(#2C3E50, 1000);
  }
  H3 a {
    ouline: none;
    .user-select(none);
    &:visited, &:active, &:focus {
      color: #1ABC9C;
    }
    &:hover {
      color: #16a085;
    }
  }
}

.longShadow(@color, @size, @spread: 100, @flag: 1, @tmp: '') when (@size > 0) {
  @percent: round(@flag / @size * 100) * @spread;
  @shadowColor: fade(@color, @percent);
  @shadow: ~"@{size}px @{size}px 0 @{shadowColor}";
  @ends: ~"@{shadow}, @{tmp}";
  @shadowString: ~"@{ends} 0 0 0 rgba(0,0,0,0)";

  .longShadowLoop(@string, @index) when (@index < 1) {
    text-shadow: @string;
  }

  .longShadowLoop(@shadowString, @size - 1);
  .longShadow(@color, @size - 1, @spread, @flag + 1, @ends);
}