<!DOCTYPE html>
<html>
<head>
    <title>Patter.net - Pattern generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">

    <meta name="description" content="Patternet - fast and convenient service to generate patterns, ornaments and textures.">
    <meta name="keywords" content="patternet, patter.net, patter, pattern, generator, ornament, texture, паттерн, орнамент, текстура, генератор">
    <link rel="image_src" href="http://patter.net/img/logo.jpg" />
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Patter.net - Pattern generator">
    <meta name="twitter:description" content="Patternet - fast and convenient service to generate patterns, ornaments and textures.">
    <meta name="twitter:image:src" content="http://patter.net/img/logo.jpg">
    <!-- Open Graph data -->
    <meta property="og:title" content="Patter.net - Pattern generator" />
    <meta property="og:image" content="http://patter.net/img/logo.jpg" />
    <meta property="og:description" content="Patternet - fast and convenient service to generate patterns, ornaments and textures." />
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Patter.net - Pattern generator">
    <meta itemprop="description" content="Patternet - fast and convenient service to generate patterns, ornaments and textures.">
    <meta itemprop="image" content="http://patter.net/img/logo.jpg">

    <!-- build:css css/app.min.css?1 -->
    <link href="bower/bootstrap/dist/css/bootstrap.css" rel="stylesheet" media="screen"/>
    <link href="bower/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" media="screen"/>
    <link href="css/colorpicker2.css" rel="stylesheet" media="screen"/>
    <link href="css/app.css" rel="stylesheet" media="screen"/>
    <!-- /build -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-44527078-1', 'patter.net');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');
    </script>
</head>
<body>
<button class="preview-button">Preview</button>
<div class="pattern-preview-area"></div>
<div id="loading-hover">
    <div class="outer">
        <div id="loading" class="spin inner"></div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="alerts">
</div>

<div id="canvas-wrapper">
    <canvas id="canvas"></canvas>
</div>

<div class="controls-section">
    <div class="bottom-section-wrapper">
        <div class="tab-header-wrapper">
            <ul class="nav nav-tabs tabs-header sample-tabs"></ul>
            <div class="add-new-sample dropdown">
                <a class="dropdown-toggle" id="add_new_menu" data-toggle="dropdown">
                    <div></div>
                </a>
                <input id="file-uploader" type="file" style="display:none;">
                <ul class="dropdown-menu" role="menu" aria-labelledby="add_new_menu">
                    <li role="presentation"><a class="upload-file" role="menuitem" tabindex="-1" href="#"><span
                            class="glyphicon glyphicon-upload"></span> Upload</a></li>
                    <li role="presentation"><a class="show-samples" role="menuitem" tabindex="-1" data-toggle="modal"
                                               href="#collections_modal"><span
                            class="glyphicon glyphicon-star"></span> Collection</a></li>
                    <li role="presentation"><a class="show-paste-link" role="menuitem" tabindex="-1" data-toggle="modal"
                                               href="#paste_link_modal"><span
                            class="glyphicon glyphicon-file"></span> Paste Link</a></li>
                </ul>
            </div>
        </div>
        <div class="settings-wrapper">
            <div class="tab-content col-sm-8"></div>
            <div class="canvas-options controls col-sm-4">
                <h3>Pattern settings panel</h3>

                <div class="autofill-checkbox">
                    <input id="autofill-checkbox" type="checkbox">
                    <label class="checkbox" for="autofill-checkbox">Autofill
                        <span data-toggle="tooltip" data-placement="right" title="Autofill may slow rendering performance"></span>
                    </label>
                </div>
                <div class="control color">
                    <label for="hex-color">Color</label>
                    <div class="color-picker"></div>
                </div>
                <div class="control width">
                    <label for="canvas-width">Width</label>

                    <div>
                        <div class="slider" data-option="width"></div>
                    </div>
                    <input id="canvas-width" class="filter-field input-sm" data-option="width" tabindex="11"/>
                    <span class="lock-origin-ratio glyphicon glyphicon-lock"></span>
                </div>

                <div class="control height">
                    <label for="canvas-height">Height</label>

                    <div>
                        <div class="slider" data-option="height"></div>
                    </div>
                    <input id="canvas-height" class="filter-field input-sm" data-option="height" tabindex="12"/>

                </div>
                <div class="download-image">
                    <button class="col-md-12 green-button download">
                        <span class="glyphicon glyphicon-download-alt"></span> Download pattern!
                    </button>
                </div>
            </div>
            <div class="col-sm-12 infolinks text-right">
                Developed by <a href="http://purplelemon.ru" target="_blank">PurpleLemon</a> and <a
                    href="http://niklv.ru" target="_blank">Niklv</a>.
            </div>
        </div>
    </div>
</div>


<!-- PASTE LINK MODAL -->
<div class="modal fade" id="paste_link_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="input-link">Paste link here:</label>

                        <div>
                            <input id="input-link" type="text" class="input-sm"/>
                        </div>
                        <button id="paste-link-button" type="button" class="btn btn-success"><span
                                class="glyphicon glyphicon-ok"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- COLLECTION MODAL -->
<div class="modal" id="collections_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <ul id="sample-collections-tabs" class="nav">
                <li class="dropdown open active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <h4 class="modal-title">Test <b class="caret"></b></h4>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#test" tabindex="-1" data-toggle="tab">Test</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="modal-body">
            <div id="sample-tabs-content" class="tab-content">
                <div class="tab-pane" id="test">
                    <div class="box">
                        <a class="innerContent" href="#">
                            <img src="img/samples/lfm_Logo.png"/>
                        </a>
                    </div>
                    <div class="box">
                        <a class="innerContent" href="#">
                            <img src="img/samples/vk_logo.png"/>
                        </a>
                    </div>
                    <div class="box">
                        <a class="innerContent" href="#">
                            <img src="img/samples/controls.png"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>-->
    </div>
</div>

<!-- LIBRARY ITEM TEMPLATE -->
<script type="text/html" id="library-item-tmpl">
    <a class="innerContent" href="#" data-number="<%=number %>" data-sprite="<%=sprite_name %>">
        <img src="/img/t.gif"
             style="background-image:url('<%=bg_url %>'); background-position: <%=offset_x%> <%=offset_y%>; background-size: <%=bg_size%>;"/>
    </a>
</script>


<!-- SETTINGS TAB TEMPLATE -->
<script type="text/html" id="part-settings-tab-header-tmpl">
    <li><a href="#settings-panel-<%=id%>" data-toggle="tab">
        <div><img src="<%= img.src %>">
            <button type="button" class="close" aria-hidden="true">&times;</button>
        </div>
    </a></li>
</script>

<!-- SETTINGS TAB TEMPLATE -->
<script type="text/html" id="part-settings-control">
    <div class="control <%=class_name%>">
        <label for="part-opacity"><%=name%></label>

        <div>
            <div class="slider" data-option="<%=class_name%>"></div>
        </div>
        <input id="part-<%=class_name%>" class="input-sm" tabindex="<%=tabindex%>" data-option="<%=class_name%>"/>
    </div>
</script>

<!-- SETTINGS TEMPLATE -->
<script type="text/html" id="part-settings-tmpl">
    <h3 class="col-sm-12">Control panel
        <button type="button" class="random green-button"><i class="glyphicon glyphicon-refresh"></i> Random</button>
    </h3>
    <div class="col-sm-12">
        <div class="control placement">
            <label>Type</label>

            <div class="radio-case">
                <input id="one-<%=id%>" type="radio" class="placement-of-obj" name="placement-of-obj-<%=id%>"
                       value="one"><label for="one-<%=id%>"><span></span><span class="type-one"></span></label>
                <input id="random-<%=id%>" type="radio" class="placement-of-obj" name="placement-of-obj-<%=id%>"
                       value="random">
                <label for="random-<%=id%>"><span></span><span class="type-random"></span></label>
                <input id="circle-<%=id%>" type="radio" class="placement-of-obj" name="placement-of-obj-<%=id%>"
                       value="circle">
                <label for="circle-<%=id%>"><span></span><span class="type-circle"></span></label>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-6">
        <%= control({class_name:"opacity", name:"Opacity", tabindex:1}) %>
        <%= control({class_name:"width", name:"Width", tabindex:2}) %>
        <span class="lock-origin-ratio glyphicon glyphicon-lock"></span>
        <%= control({class_name:"height", name:"Height", tabindex:3}) %>
        <div class="control grid">
            <label>Grid</label>

            <div class="radio-case">
                <input id="grid-1-<%=id%>" type="radio" class="grid-of-obj" name="grid-of-obj-<%=id%>" value="1">
                <label for="grid-1-<%=id%>"><span></span>1</label>

                <input id="grid-4-<%=id%>" type="radio" class="grid-of-obj" name="grid-of-obj-<%=id%>" value="4">
                <label for="grid-4-<%=id%>"><span></span>4</label>

                <input id="grid-9-<%=id%>" type="radio" class="grid-of-obj" name="grid-of-obj-<%=id%>" value="9">
                <label for="grid-9-<%=id%>"><span></span>9</label>

                <input id="grid-16-<%=id%>" type="radio" class="grid-of-obj" name="grid-of-obj-<%=id%>" value="16">
                <label for="grid-16-<%=id%>"><span></span>16</label>

                <input id="grid-25-<%=id%>" type="radio" class="grid-of-obj" name="grid-of-obj-<%=id%>" value="25">
                <label for="grid-25-<%=id%>"><span></span>25</label>

            </div>
        </div>
        <%= control({class_name:"angle", name:"Angle", tabindex:4}) %>
        <div class="control overlay">
            <label for="picker">Overlay</label>

            <div class="color-picker"></div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-6">
        <%= control({class_name:"count", name:"Count", tabindex:5}) %>
        <%= control({class_name:"x", name:"X", tabindex:6}) %>
        <%= control({class_name:"y", name:"Y", tabindex:7}) %>
        <%= control({class_name:"radius", name:"Radius", tabindex:8}) %>
        <%= control({class_name:"offset", name:"Offset", tabindex:9}) %>
        <%= control({class_name:"angle-delta", name:"Angle+", tabindex:10}) %>
    </div>
</script>


<!-- SCRIPTS -->
<!-- build:js js/app.min.js?1 -->
<!-- LIBS -->
<script src="bower/jquery/dist/jquery.js"></script>
<script src="js/jquery-ui-1.10.3.custom.js"></script>
<script src="bower/FileSaver/FileSaver.js"></script>
<script src="bower/json2/json2.js"></script>
<script src="bower/underscore/underscore.js"></script>
<script src="bower/backbone/backbone.js"></script>
<script src="bower/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower/fabric/dist/fabric.js"></script>


<!-- APP -->
<script src="js/app/const.js"></script>
<script src="js/app/utils.js"></script>
<script src="js/app/slider.js"></script>
<script src="js/app/canvas.js"></script>
<script src="js/app/colorpicker/model.js"></script>
<script src="js/app/colorpicker/view.js"></script>
<script src="js/app/sample/model.js"></script>
<script src="js/app/sample/view.js"></script>
<script src="js/app/sample/collection.js"></script>
<script src="js/app/library/model.js"></script>
<script src="js/app/library/view.js"></script>
<script src="js/app/library/collection.js"></script>
<script src="js/app/ui-handlers.js"></script>
<script src="js/app/tests/test.js"></script>
<script src="js/app/app.js"></script>
<!-- /build -->

<script type="text/plain" id="copyrights">
 * jQuery JavaScript Library (MIT license)
 * jQuery UI (MIT license)
 * FileSaver.js (X11/MIT license)
 * json2.js (Public domain license)
 * Underscore.js (MIT license)
 * Backbone.js (MIT license)
 * Bootstrap (MIT license)
 * Fabric (MIT license)
 * LessHat (MIT license)
</script>

</body>
</html>